:root {
    --text-color: #dddddd;
    --first-bgcolor: #000000;
    --second-bgcolor: #080808;
    --third-bgcolor: #0f0f0f;
    --first-ncolor: #eeeeee;
    --second-ncolor: #888888;
    --third-ncolor: #222222;
    --fourth-ncolor: #555555;
    --fifth-ncolor: #aaaaaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    color: var(--text-color);
    background: linear-gradient(315deg, var(--fourth-ncolor), var(--third-ncolor));
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.fa-xmark {
    top: 10px;
    right: 10px;
    font-size: 1.75em;
    color: var(--text-color);
    position: absolute;
}

.feedback-container {
    width: 50%;
    height: 80vh;
}

.feedback-container h2 {
    font-size: 2.5em;
    text-align: center;
}

#feedback-fieldset {
    border: none;
    width: 50%;
    margin: 5px auto;
}

input, textarea, select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--text-color);
    background: linear-gradient(to right, var(--fourth-ncolor), var(--third-ncolor));
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-shadow: 3px 3px var(--fourth-ncolor);
}

input::placeholder, textarea::placeholder, select::placeholder {
    color: var(--text-color);
}

input:focus, textarea:focus, button:focus, select:focus {
    box-shadow: 1.5px 1.5px var(--third-ncolor);
    transition: 0.3s;
    background: linear-gradient(to right, var(--second-ncolor), var(--third-ncolor));
}

input:active, textarea:active, button:active, select:active {
    transform: translate(3px, 3px);
    box-shadow: none;
    transition: 0.3s;
}

button {
    padding: 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    color: var(--text-color);
    background: linear-gradient(to right, var(--fourth-ncolor), var(--third-ncolor));
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-shadow: 3px 3px var(--fourth-ncolor);
}

/* FEEDBACK MEDIA QUERIES*/

@media (max-width: 1280px) {
    .feedback-container {
        width: 70%;
    }

    .feedback-container h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 1024px) {
    .feedback-container {
        width: 80%;
    }

    .feedback-container h2 {
        font-size: 2.25em;
    }
}

@media (max-width: 768px) {
    .feedback-container {
        width: 60%;
    }

    .feedback-container h2 {
        font-size: 2.15em;
    }

    #feedback-fieldset {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .feedback-container {
        width: 70%;
    }

    .feedback-container h2 {
        font-size: 1.9em;
    }
}

@media (max-width: 480px) {
    .feedback-container h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 420px) {
    .feedback-container {
        width: 80%;
    }

    .feedback-container h2 {
        font-size: 1.8em;
    }

    input, select, textarea, button {
        font-size: 0.95em;
    }
}

@media (max-width: 360px) {
    .feedback-container h2 {
        font-size: 1.75em;
    }

    input, select, textarea, button {
        font-size: 0.9em;
    }
}